
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.contenedor{
    display: flex;
}

ul{
    list-style: none;
}
.img{
    height: 100px;
}


.textos{
    padding:10px;
    
    
}
h1{
    text-emphasis-color: red;
}

.div .formulario{
    background-image:url(/images/Bosque.jpg);
}

.formulario{
    max-width: 700px;
    
    background: off;
    padding: 30px 150px;
    border-radius: 5px;
    left: 400px;
}

.formulario .Titulo{
    font-size: 40px;
    font-weight: 500;
    position: static;

}

.formulario .Titulo ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 30px;
    background: bisque;
}

.formulario form .detalles{
   display: flex;
   flex-wrap: wrap; 
}

